.shop_container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.Product_Container{
    display: grid;
    grid-template-columns: repeat(3,1fr );
    grid-gap: 45px;
    margin: 50px;
}
.pagination{
    text-align: center;
}
.pagination button{
    margin-left: 20px;
}
.pagination select{
    background-color: greenyellow;
    color: black;
}
.Selected{
    background-color: tomato;
}
@media only screen and (max-width: 576px) {
    .ShopContent{
        grid-template-columns: 3fr 1fr;
    }

    .Product_Container{
        grid-template-columns: repeat(1,1fr );
    }
}