.header{
    height: 80px;
    background-color: #1C2B35;
    /* background-color: white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 100px 0 100px ;
}
.header a{
    text-decoration: none;
    color: white;
    margin-left: 30px;
}
.header a:hover{
   color: lightseagreen;
}
nav{
    color: white;
}
.header-mail{
    margin-left: 10px;
}
.header-mail button{
    margin-left: 15px;
    background-color: tomato;
}
.wlc{
    font-weight: 700;
    color: orange;
}
.mail{
    font-weight: 700;
    color: lawngreen;
    font-style: italic;
    margin-left: 10px;
}
.activeness{
    color: blue;
    font-weight: 700;
}
